#content {
    background-color: white;
    width: 85%;
    margin: auto;
    border-radius: 10px;
}

#me {
    display: inline-block;
    width: 35%;
    max-width: none;
    margin: 1em;
}

#description {
    display: inline-block;
    width: 59%;
    margin: 1em 0;
    vertical-align: top;
}

#description p {
    margin-block-start: 0;
}

#tech-list {
    list-style-type: none;
    padding-inline-start: 20px;
}

@media screen and (max-width: 950px) {
    #content {
        padding: 1em;
    }

    #me {
        display: block;
        margin: auto;
        min-width: 55%;
    }

    #description {
        display: block;
        width: 100%;
    }

    #tech-list {
        padding-inline-start: 10px;
    }
}
