body {
    background-color: lightgray;
    font-family: 'Play', sans-serif;
}

#heading {
    text-align: center;
}

#content {
    background-color: white;
    width: 85%;
    margin: auto;
    border-radius: 10px;
}

#me {
    display: inline-block;
    width: 30%;
    margin: 1em;
}

#description {
    display: inline-block;
    width: 64%;
    margin: 1em 0;
    vertical-align: top;
}

#tech-list {
    list-style-type: none;
    padding-inline-start: 20px;
}
