<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
        {% block stylesheets %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </head>

    <body>
        <h1 id="heading">Edward Wong</h1>

        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>

        {% block body %}
        {% endblock %}
    </body>
</html>
