{% extends 'base.html' %}

{% block title %}Projects{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/projects.css') }}" />
{% endblock %}
{% block scripts %}
    <script>
        function removePreload() {
            document.getElementById("projects").classList.remove("preload");
        };
    </script>
{% endblock %}

{% block body %}
    <div id="projects" class="preload" onload="removePreload()">
        {% for project in projects %}
            <div id="project-{{ loop.index0 + 1 }}" class="project">
                <div class="image-container">
                    <img class="project-image" src="{{ url_for('static', filename=project.imagePath) }}" />
                    <div class="info-container">
                        <div class="project-info">
                            <p id="project-description">
                                {{ project.description }} <br />
                            </p>

                            Tools: {{ project.tools }} <br />

                            {% if project.github != "" %}
                            <a class="project-link" href="{{ project.github }}" target="_blank">GitHub Repository</a> <br />
                            {% endif %}
                            
                            {% if project.link != "" %}
                            <a class="project-link" href="{{ project.link }}" target="_blank">Website URL</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p class="project-name">{{ project.name }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
